In [3]:
import pyodbc
import pandas as pd

# Define the connection string
cnxn_str = ("Driver={ODBC Driver 17 for SQL Server};"
            "Server=DESKTOP-CAUUOUC;"
            "Database=Superstore;"
            "Trusted_Connection=yes;")

# Establish the connection
cnxn = pyodbc.connect(cnxn_str)

# Execute the SQL query and fetch the results into a DataFrame
query = "SELECT TOP 10 * FROM dbo.Orders"
df = pd.read_sql(query, cnxn)

# Print the DataFrame
print(df)

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2020-152156  2020-11-08  2020-11-11    Second Class    CG-12520
1       2  CA-2020-152156  2020-11-08  2020-11-11    Second Class    CG-12520
2       3  CA-2020-138688  2020-06-12  2020-06-16    Second Class    DV-13045
3       4  US-2019-108966  2019-10-11  2019-10-18  Standard Class    SO-20335
4       5  US-2019-108966  2019-10-11  2019-10-18  Standard Class    SO-20335
5       6  CA-2018-115812  2018-06-09  2018-06-14  Standard Class    BH-11710
6       7  CA-2018-115812  2018-06-09  2018-06-14  Standard Class    BH-11710
7       8  CA-2018-115812  2018-06-09  2018-06-14  Standard Class    BH-11710
8       9  CA-2018-115812  2018-06-09  2018-06-14  Standard Class    BH-11710
9      10  CA-2018-115812  2018-06-09  2018-06-14  Standard Class    BH-11710

     Customer Name    Segment Country/Region             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
5  Brosina Hoffman   Consumer  United States      Los Angeles  ...
6  Brosina Hoffman   Consumer  United States      Los Angeles  ...
7  Brosina Hoffman   Consumer  United States      Los Angeles  ...
8  Brosina Hoffman   Consumer  United States      Los Angeles  ...
9  Brosina Hoffman   Consumer  United States      Los Angeles  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage
5       90032    West  FUR-FU-10001487        Furniture  Furnishings
6       90032    West  OFF-AR-10002833  Office Supplies          Art
7       90032    West  TEC-PH-10002275       Technology       Phones
8       90032    West  OFF-BI-10003910  Office Supplies      Binders
9       90032    West  OFF-AP-10002892  Office Supplies   Appliances

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2
5  Eldon Expressions Wood and Plastic Desk Access...   48.8600         7
6                                         Newell 322    7.2800         4
7                     Mitel 5320 IP Phone VoIP phone  907.1520         6
8  DXL Angle-View Binders with Locking Rings by S...   18.5040         3
9                   Belkin F5C206VTEL 6 Outlet Surge  114.9000         5

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164
5      0.00   14.1694
6      0.00    1.9656
7      0.20   90.7152
8      0.20    5.7825
9      0.00   34.4700

[10 rows x 21 columns]

C:\Users\Ann\AppData\Local\Temp\ipykernel_23348\2744154872.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, cnxn)

In [2]:
# Execute the SQL query and fetch the results into a DataFrame
query = "SELECT TOP 5 * FROM dbo.Orders"
df = pd.read_sql(query, cnxn)

# Print the DataFrame
print(df)

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2020-152156  2020-11-08  2020-11-11    Second Class    CG-12520
1       2  CA-2020-152156  2020-11-08  2020-11-11    Second Class    CG-12520
2       3  CA-2020-138688  2020-06-12  2020-06-16    Second Class    DV-13045
3       4  US-2019-108966  2019-10-11  2019-10-18  Standard Class    SO-20335
4       5  US-2019-108966  2019-10-11  2019-10-18  Standard Class    SO-20335

     Customer Name    Segment Country/Region             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

C:\Users\Ann\AppData\Local\Temp\ipykernel_23348\3569702860.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, cnxn)